body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btnSave{
    background-color: white;
    border: 1px solid black;
}

.container {
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.genericContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    width: 50%;
    
}
#mensagemErro{
    display: none;
}

.erro{
    border: 2px solid red
    
}